* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ed6614;
  background: #ffff;
}

::selection {
  color: #ed6614;
  background: #ffff;
}

html::-webkit-scrollbar {
  width: 14px;
}

html::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

html::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #ed6614;
}
